body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-bottom: 1px solid blueviolet;
}

nav{
    flex-grow: 1;
}

ul{
    display: flex;
    list-style-type: none;
}

ul a:hover{
    color: #0b5cff;
}


nav a:link{
    padding: 10px;
    text-decoration: none;
    color: #484848;
}

.botao{
    text-decoration: none;
    color: #0b5cff;
    border: 2px solid #0b5cff;
    border-radius: 25px;
    padding: 5px 30px;
}

.botao.destaque{
    background-color: #0b5cff;
    color: white;
}


.botao.destaque:hover{
    background-color: #6f53ed;
    color: #fff;
}

.botao:hover{
    background-color: #d21eff;
    color: white;
}